#jobs {
  height: auto;
  position: relative;
  padding: 10vh 3vw;
  background: #fff;
  & > p {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 22px 60px;
    background: linear-gradient(to left, #f77b63 0%, #f43e54 100%);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transform-origin: 0 100%;
    &:hover {
      background: linear-gradient(to right, #f77b63 0%, #f43e54 100%);
    }
  }
}
.jobs-p-on {
  animation: jobsPOn 0.5s forwards;
}
@keyframes jobsPOn {
  from {
    transform: scaleY(1) translateX(-50%);
  }
  to {
    transform: scaleY(0) translateX(-50%);
  }
}
.jobs-title {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(246, 246, 246, 0.87);
  font-size: 100px;
}
.jobs-title-fix {
  h1 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  p {
    font-weight: 500;
  }
}
.jobs-my-jobs-on {
  flex-wrap: wrap;
}
.jobs-my-jobs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  & > div {
    position: relative;
    width: 25%;
    padding-top: 20%;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 0 0 10px #e2e2e2;
    cursor: pointer;
  }
  div:nth-child(1) {
    background-image: url("../media/jobs/sted.png");
  }
  div:nth-child(2) {
    background-image: url("../media/jobs/toy-shop.png");
  }
  div:nth-child(3) {
    background-image: url("../media/jobs/oled.png");
  }
  div:nth-child(4) {
    background-image: url("../media/jobs/Minyan-project.PNG");
  }
  div:nth-child(5) {
    background-image: url("../media/jobs/grimaldi.jpg");
  }
  div:nth-child(6) {
    background-image: url("../media/jobs/profile.png");
  }
  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6) {
    div {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      background: rgba(244, 66, 85, 0.75);
      display: none;
    }
    &:hover {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        h1 {
          font-weight: 400;
          margin-bottom: 25px;
        }
        p {
          line-height: 1.5;
        }
      }
    }
  }
  div:nth-child(5),
  div:nth-child(6) {
    display: none;
  }
}
.jobs-to-load-on {
  display: unset !important;
}
@media only screen and (max-width: 1270px) {
  .jobs-my-jobs {
    flex-wrap: wrap;
    & > div {
      width: 40%;
      padding-top: 35%;
    }
  }
}
@media only screen and (max-width: 750px) {
  .jobs-my-jobs {
    margin-top: 50px;
    & > div {
      min-width: 276px;
      width: 65%;
      padding-top: 65%;
    }
  }
  .jobs-title {
    display: none;
  }
}
@media only screen and (max-width: 460px) {
  .jobs-my-jobs {
    & > div {
      h1 {
        margin-bottom: 10px !important;
      }
      P {
        font-size: 15px;
      }
    }
  }
}
